.main{
  padding: 0;
  margin: 0;
  width: 100%;
}

.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: url(./assets/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/*Header*/
.measurement-active {
  width: 66px;
  height: 38px;
  border-left: solid 1px white;
  background: rgba(255, 255, 255, 0.2)
}

.measurement:hover {
  cursor: pointer;
}

.measurement {
  width: 66px;
  height: 38px;
}


/*Main Body*/
.line-break { 
  color: white;
}

.main-icon {
  width: 80px;
  height: auto;
}

.temp {
  font-size: 8rem;
  /* margin-left: 142px; */
}

.hourly-temp {
  font-size: 37px;
}

/*Hourly & Daily*/
.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #FFFFFF !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px white !important;
}


/*Hourly temp style*/
.card-body {
  min-height: 210px;
  min-width: 115px;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}