.main{
  padding: 0;
  margin: 0;
  max-width: 100vw;
  height: 100%;
}

.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: url(./assets/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
  padding-bottom: 2rem;
}

/* 15 inch */
@media (min-width: 1350px) and (max-width: 1390px) {
  .responsive-container {
    transform: scale(0.9);
  }
}



/*Header*/
.measurement-active {
  width: 66px;
  height: 38px;
  border-left: solid 1px white;
  background: rgba(255, 255, 255, 0.2)
}

.measurement:hover {
  cursor: pointer;
}

.measurement {
  width: 66px;
  height: 38px;
}


/*Main Body*/
.temp-block {
  margin-top: 0.5rem;
}

.temp {
  font-size: 100px;
  font-weight: 500;
}

.hourly-temp {
  font-size: 37px;
  font-weight: 100;
  padding-top: 1.3rem;
  margin-bottom: 1.8rem;
}

.aggregatedSummary {
  font-size: 20px;
}

#location {
  font-size: 30px;
  font-weight: 500;
}

.icon {
  font-size: 70px;
}

.summary {
  font-size: 30px;
  font-weight: 500;
}

/*Hourly & Daily*/
.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #FFFFFF !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px white !important;
}


/*Hourly temp style*/
.horizonal-container {
  width: 100%;
  overflow-x: scroll;
}
.card-body {
  min-height: auto;
  min-width: 115px;
}

.time {
  font-size: 1.6rem;
}

.hourly-icon {
  font-size: 45px;
}

.hour-temp {
  font-size: 2rem;
  margin-top: 0.5rem;
}

/*End Hourly temp style*/

/* Daily Temp styel */
.card-body-daily {
  min-width: 255px;
  min-height: auto;
}
.days {
  font-size: 1.5rem;
  margin-top: 10px;
}

.day-temp {
  font-size: 1.6rem;
  margin-top: 0.9rem;
  margin-bottom: 1rem;
}
/* End Daily Temp */

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Mid-point respositivity */
@media (max-width: 768px) {
  /*Main View*/
  .App {
    font-size: 0.7rem;
  }
  .temp-block {
    margin-bottom: 1rem;
  }
  .temp {
    font-size: 3rem;
  }
  .hourly-temp{
    font-size: 20px;
    padding-top: 0.4rem;
    margin-bottom: 1.6rem;
  }
  .aggregatedSummary{
    font-size: 15px;
  }
  #location{
    font-size: 1.2rem;
    margin-top: 0.3rem;
  }
  .icon {
    font-size: 30px;
  }
  .summary {
    font-size: 18px;
  }
  /*Hourly Temperatura*/
  .card-body{
    min-width: 62px;
  }
  .time {
    font-size: 0.8rem;
  }
  .hourly-icon {
    font-size: 22px;
  }
  .hour-temp {
    font-size: 1.2rem;
  }
  /* Daily Temperature*/
  .card-body-daily {
    min-width: 165px;
  }
  .days {
    font-size: 0.7rem;
  }
  .day-temp {
    font-size: 0.7rem;
  }
}
